<% layout( 'layout' ) -%>

<div id="content">
<div class="container show">
	<div class="row">
		<div class="col-lg-3">
			<img src="http://pennaataktheatre.com/images/thewhoandthewhat.jpg" class="showimg">
		</div>
		<div class="col-lg-6">
			<h2 class="showname">The Who &amp; The What</h2>
			<h4 class="company">PenNaatak</h4>
			<h5 class="written by"><small>written by </small>Ayad Akhtar</h5>
			<h5 class="directedby"><small>directed by </small>Rhea Mehta</h5>
			<h5 class="producedby"><small>produced by </small>Pallavi Surana</h5>
			<br>
			Brilliant Pakistani-American writer Zarina is focused on finishing her novel about women and Islam when she meets Eli, a young convert who bridges the gulf between her modern life and her traditional heritage. But when her conservative father and sister discover her controversial manuscript, they are all forced to confront the beliefs that define them. A passionate and searing look at a family divided by faith, bonded by love and searching for truth in contemporary America.
		</div>
		<div class="col-lg-3" align="left">
			<h5 class="venue">Class of '49 Auditorium, Houston Hall</h5>
			<br>
			<h5 class="dates">Friday, April 27 at 6 PM</h5>
			<h5 class="dates">Saturday, April 28 at 2 PM</h5>
			<br>
			<button class="buyshow" type="submit">Buy Tickets</button>
		</div>
	</div>
</div>
</div>