<!DOCTYPE html>
<html>
<head>
	<title><%= t %></title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- AJAX -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<!-- My Style -->
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<!-- HEADER -->
	<div class="container" id="header" align="center">
		<h1>TACe TICKETS</h1>
		<h3>serving theatre since 2015</h3>
	</div>

	<%- body %>

	<!-- FOOTER -->
	<div id="footer" align="right">
		<div class="container" id="footer-content">
			<h5>&copy; TACe TICKETS 2015</h5>
		</div>
	</div>
</body>
</html>